/* custom mixins below */

@import 'compass/typography/lists/horizontal-list';

@mixin spaceless {
  margin: 0;
  padding: 0;
}

@mixin horizontal-bordered-list($color: #ddd, $width: 1px, $padding: 5px, $direction: left) {
  @include horizontal-list-container;
  li {
    @include no-bullet;
    @include float($direction);
    white-space: no-wrap;
    @if ($padding) {
      $opp: opposite-position($direction);
      border-left: $width solid $color;
      border-right: $width solid $color;
      padding-left: $padding;
      padding-right: $padding;
      &:first-child, &.first { padding-#{$direction}: 0; border-#{$direction}: none; }
      &:last-child { padding-#{$opp}: 0; border-#{$opp}: none; }
      &.last { padding-#{$opp}: 0; border-#{$opp}: none; }
    }
  }
}
