@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';


// what function does this serve again?
@mixin inline-form {
  line-height: 2.5;
  input, select, label { display: inline; vertical-align: middle; }
  // select { width: 200px; }
  p { margin-bottom: 0; }
}


@mixin form { 
 
  fieldset {
    border: $global-border-style;
    padding: 0.75em;
    margin: 0 0 1.5em;
    legend { font-weight: bold; }
  }

  #ft-mixed label {
    display: block;
  }

  .mounted {
    margin: 0.5em 0;
  }

  // display: block on most elements, since <label> is inline and we want to force newline
  input.text, input.title, input[type=email], input[type=text], input[type=password], input[type=file], .field img, textarea, select {
    display: block;
  }

  input[type="text"], input[type="password"], input[type="email"], input.text, input.title, textarea {
    @include border-radius(3px);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
    margin: 0.5em 0; 
    color: #666;
    border-top:     1px solid #b8b8b8;
    border-right:   1px solid #d8d8d8;
    border-bottom:  1px solid #d8d8d8;
    border-left:    1px solid #b8b8b8;
    padding: 9px;
    &:focus { 
      -webkit-animation-name: lightBluePulse;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
    }
  }

  input {
    &[type="text"], 
    &[type="password"],
    &[type="email"],
    &.text, 
    &.title {
      width: 300px; 
    }
  }

  textarea {
    // width: 390px; 
    @include box-sizing('border-box');
    width: 100%;
    width: auto\9;
    height: 250px; 
  }


  /*
   * Other
   */

  input[type="submit"] { 
    @include site-button;
    padding: 4px 8px; 
    cursor: pointer; 
    vertical-align: middle;
  }

  label { 
    font-weight: bold; 
    &.req { 
      padding-right: 9px; 
      background: url(/images/site/star.png) no-repeat right center; 
    } 
  }

  select {
    //width: 312px;
    padding: 4px;
    border: $global_border_style-2;
    margin: 0.5em 0;
  }

  // can we revisit this class and it's purpose / meaning?

  /*
   * Styling for div's surrounding labels and their radio / checkbox
   */

  .field {
    padding: 0.1em;
    @include clearfix;
    margin-bottom: 0.67em;

    img { margin: 0.5em 0; }

    &.radio, &.checkbox {
      position: relative;
      // width: 175px;
      @include inline-block; 
      vertical-align: top;
      input[type=radio], input[type=checkbox] {
        // This really isn't good: can we have radios / checkboxes before labels so we don't have to do this magickery? 
        position: absolute;
        left: 0;
        top: 2px;
      }
      padding: 0.25em 0 0.25em 1.9em;
    }
  }


  .mceEditor { 
    display: block;
    margin: 0.25em 0; 
    .mceIframeContainer {
      padding: 0.25em;
      background-color: white;
    }
  }
}
