.social-feed-title {
  line-height: 35px;
  a.social-link {
    width: auto;
    .text {
      display: none;
    }
  } 
}

body.controller-admin-social-feeds {
  #content {
    table {
      @include spaceless; 
      width: 370px;
    }
    tbody td {
      border: none;
      padding: 0 0 0.5em 0;
      vertical-align: top; }
    tbody tr.hover {
      background-color: transparent; } }
  .social-feed {
    @include spaceless;
		color: #000;
    float: left;
    width: 49%;
    border-left: none;
    &.last { border-left: 1px solid #cccccc; }
    .social-feed-title {
      padding: 5px 10px;
      border-bottom: 1px solid #cccccc;
      @extend .site-sans;
      font-weight: bold; 
    }
    .pagination { text-align: center; }
    .feed {
      padding: 10px;
      .feed-item {
        display: block;
        position: relative;
        @include clearfix;
        margin-bottom: 1.5em;
        .feed-time {
          @extend .small-sans;
          font-style: italic; }
        .feed-status {
          @extend .small-sans; }
        .feed-caption {
          @extend .small-sans;
          font-style: italic;
          margin-bottom: 0; }
        .inner {
          width: 355px;
          float: left;
          overflow: hidden; }
        .actions {
          position: absolute;
          top: 0;
          right: 0;
          a {
            @extend .icon-delete; } } }
      .feed-item.fb-post {
        .feed-from {
          margin-right: 5px; }
        .feed-avatar {
          float: left;
          width: 50px;
          height: 100%;
          margin-right: 10px; }
        .feed-from {
          font-weight: bold;
          float: left; }
        .feed-picture {
          img {
            margin-right: 10px; } }
        .feed-body {
          > div {
            padding-bottom: 0.5em; } } }
      .feed-item.tw-status {
        .inner {
          > div {
            padding-bottom: 0.5em; 
            width: 370px;
          } 
          > div.actions {
            width: auto;
          }
        }
        .feed-avatar {
          float: left;
          width: 50px;
          height: 100%;
          margin-right: 10px; }
        .feed-from {
          @include clearfix;
          .feed-screen-name {
            float: left;
            font-weight: bold;
            margin-right: 5px; } } } } } }
