@import "compass/utilities/general/clearfix";
@import "includes/typography";
@import "includes/colors";

body.controller-slideshows {
  .show-more {
    color: $gray;
    &:hover { color: $maroon; }
    float: right;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid $gray;
    border-top: none;
    border-bottom: none;
    margin: 0;
    padding: 0 0.33em;
    cursor: pointer;
  }

  .slide-slice {
    @include clearfix;
    margin-bottom: $blueprint-grid-margin;
    img {
      display: block;
    }
  }

  .slide-slice-slide {
    float: left;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
