@import 'compass/typography/links/link-colors';

/**
 * Base
 */

$maroon:                      #8A2529;
$light-maroon:                #AA7175;
$gray:                           #666;
$off-gray:                    #CFC0C0;

$text-color:                    $gray;
$alt-text-color:                $blue;
$background-color:               #fff;
$error-color:                    #844;
$table-header-color:        $off-gray;
$highlight-color:                #ff0;
$global-border-color:            #ccc;
$global-border-color-2: $light-maroon;

@mixin base-color { color: $text-color; }
@mixin alt-color  { color: $alt-text-color; }

/**
 * Headers
 */

$h1-color: $maroon;
$h2-color: $maroon;
$h3-color:   $gray;
$h4-color: $maroon;
$h5-color:   $gray;
$h6-color: $maroon;

@mixin h1-color { color: $h1-color; }
@mixin h2-color { color: $h2-color; }
@mixin h3-color { color: $h3-color; }
@mixin h4-color { color: $h4-color; }
@mixin h5-color { color: $h5-color; }
@mixin h6-color { color: $h6-color; }

/**
 * Links
 */

$link-color:                       $gray;
$link-hover-color:         $light-maroon;
$link-active-color:          $link-color;
$link-visited-color:         $link-color;
$link-focus-color:           $link-color;
$link-current-color:   $link-hover-color;

$alt-link-color:                 $maroon;
$alt-link-hover-color:             $gray;

@mixin base-link-colors { @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color); }
@mixin alt-link-colors { @include link-colors($alt-link-color, $alt-link-hover-color); }

/**
 * Misc
 */

@mixin classed-color($color, $hover-color: false) {
  &, a { color: $color; }
  a { text-decoration: underline; }
  @if $hover-color {
    a:hover { color: $hover-color; }
  }
}
