@import 'includes/common';
@import 'includes/colors';
@import 'includes/global';

$field_background: $pale-blue;
$field_focus_background: #f3fffd;
$field_border_color: $blue;
$field_border: 1px solid $field_border_color;
$field_focus_border_color: $blue;
$field_focus_border: 1px solid $field_focus_border_color;

$field_with_errors_background: #ffc;
$field_with_errors_border: $field_focus_border;
$field_with_errors_focus_background: #ffd;
$field_with_errors_focus_border: $field_focus_border;

$field_color: $text_color !default;
$label_color: $text_color !default;
$field_with_errors_label_color: $error_color !default;

$input_padding: 0.6em;
$input_margin: 0.33em 0 !default; 
$input_width: 300px !default;

$textarea_height: 250px;
$tinymce_height: 600px;

$fieldset_border: $global_border_style;
$fieldset_padding: 2%;
//$fieldset_width: 93%;
$fieldset_margin: 0 0 0.67em;

@mixin inline-form {
  display: inline;
  input, select, label { display: inline; margin: 0 0.33em 0 0; }
  select { width: 200px; }
  p { margin: 0; }
}

@mixin form-label {
}

