@import 'includes/colors';

$avatar_width:                                        98px;
$avatar_height:                                       98px;

$global-border-style:       1px solid $global-border-color;
$global-border-style-2:   1px solid $global-border-color-2;

$layout_preview_width:                               200px;
$layout_preview_height:                              162px;
