@import 'compass/utilities/general/clearfix';
@import 'includes/blueprint';
@import 'includes/typography';
@import 'includes/colors';
@import 'includes/global';


/*--------backgrounds-----------*/


body{
	
	background:#000 url(/images/site/backgrounds/default.jpg) top center fixed;
	
	
	&.cust-about-us {
		background:#000 url(/images/site/backgrounds/about-us.jpg) top center fixed;
		}
		
	&.admin {
		background:#000 url(/images/site/backgrounds/admin.jpg) top center fixed;
		}
	
	&.cust-beyond-accounting {
		background:#000 url(/images/site/backgrounds/beyond-accounting.jpg) top center fixed;
		}
	
	&.cust-compliance-service {
		background:#000 url(/images/site/backgrounds/compliance-service.jpg) top center fixed;
		}
		
	&.cust-contact {
		background:#000 url(/images/site/backgrounds/contact.jpg) top center fixed;
		}
	
	&.cust-fund-startup {
		background:#000 url(/images/site/backgrounds/fund-startup.jpg) top center fixed;
		}	
		
		
	&.home {
		background:#000 url(/images/site/backgrounds/home.jpg) top center fixed;
		}
		
	
	&.cust-howard {
		background:#000 url(/images/site/backgrounds/howard.jpg) top center fixed;
		}


	&.cust-john {
		background:#000 url(/images/site/backgrounds/john.jpg) top center fixed;
		}

	&.cust-lorraine {
		background:#000 url(/images/site/backgrounds/lorraine.jpg) top center fixed;
		}
			
	&.cust-nick {
		background:#000 url(/images/site/backgrounds/nick.jpg) top center fixed;
		}
			
	&.cust-our-people {
		background:#000 url(/images/site/backgrounds/our-people.jpg) top center fixed;
		}
	
	&.cust-reporting {
		background:#000 url(/images/site/backgrounds/reporting.jpg) top center fixed;
		}
			
	&.cust-services {
	background:#000 url(/images/site/backgrounds/services.jpg) top center fixed;
	}
	
	&.cust-why-outsource {
		background:#000 url(/images/site/backgrounds/why-outsource.jpg) top center fixed;
		}
}







/*--------end backgrounds-----------*/



#footer, #top-nav > div, #banner > div, #body, #bottom-footer, #nav {
  @include container;
}

//added by @chris.cr: Sept 22, 2011 - tweak to admin template, wraps nav menu with a color so it appears full width
#nav-wrapper {
	//background: #eee;
	width:100%;
	//border-bottom: $global-border-style-1;
	
}

body.controller-users {
  .user {
    @include clearfix;
  }
}


//body {
	//background: transparent url(/images/backgrounds/bg_image1.jpg) center bottom fixed;

  //&.cust-image1 { background-image: url(/images/logo.png); }
//}


#body {
  margin: 1.5em auto;
}

#breadcrumbs-wrapper{
	background: transparent url(images/tab_blue.png) 17px 0px no-repeat;
	padding-top: 25px;
	
	.breadcrumbs{
		height:30px;
	}
}

#content-slide-wrapper {
	background: transparent url(images/tab_blue.png) 17px 0px no-repeat;
	padding-top: 25px;
	
	#content-slide {
background-color:$theme-primary;
min-height:184px;
	}
	
	#content-top .renderable{
		font-size: $huge-font-size;
		line-height:1.3em;
		padding:10px 34px;
	}
}

#content{
	position:relative;
}

.home #content-top{
	position:absolute;
	top:30px;
	left:6px;
	min-height:170px;
	width:500px;
	z-index:100;
}

.home #content-main-wrapper{
	width:510px;
	background:transparent url(images/box_bottom.png) bottom right no-repeat;
	padding-bottom:40px;
}

#content-main-wrapper{
	background:transparent url(images/box_bottom.png) bottom right no-repeat;
	padding-bottom:45px;
}

#content-main{
	padding-top:3px;
	background-color:#000;
	font-size:$base-font-size;
	font-weight:normal;
	line-height:1.45em;
	
	p{
		font-weight:normal;
		margin:0px;
		padding-top:10px;	
	}
}

.home #content-main{
	width:510px;
	background-color:#000;
	font-size:$large-font-size;
	font-weight:normal;
	line-height:1.45em;
}

html body.home #content-main p{
	//font-family:helvetica;
	font-size:$large-font-size;
	font-weight:normal;
	margin:0px 40px;
	padding-top:10px;
}

#content-main, #right{
	background-color:black;
}

#bottom-footer {
  font-size: 10px;
  line-height: 25px;
  border-top: 1px solid #fff;
  margin-top: 5px;

  a { text-decoration: none; }
	a.remove { text-decoration: normal; }

  span {
    float: left;
    margin-left: 0.5em;
  }

  .copyright, .marketsmiths { 
    display: block; 
  }

  span.e9digital {
    float: right; 
    a { 
      line-height: 16px;
      @include inline-block;
      text-indent: -999em; 
      width: 118px; 
      height: 16px; 
      background: url('/images/site/e9_logo.png') no-repeat;
      &:hover {
        background-position: 0 -16px; 
      }
    }
  }
}

/* --- Header (w/ Nav) --- */
#main-nav, #admin-nav { margin-bottom: 30px; }

#banner {
  height: 287px;
}

#top-nav {
	margin-bottom:40px;
  //border-bottom: 1px solid #EEE;
	border-top: 5px solid $theme-secondary;
  font-size: 13px; 
  font-weight:normal;
  color: #666; 
  text-align: right; 
  a { 
    text-decoration: none; 
    &:link,&:visited { color: $theme-primary; }
    &:hover,&:active  { color: $theme-alternate; }
  }
  ul {
    @include blank-list;
    text-align: right;
    li { 
      @include inline-block; 
      padding: 10px 6px; 
    }
    .welcome { 
      color: $theme-alternate; 
      font-weight: bold; 
    }
  }
}

//added by @chris.cr, 9.22.11 - to fix slide out search field bug
#top-nav-region ul{
	width:100%;
}

#header {
	height:127px;
	background:transparent url(images/bg_white_trans.png) top left;
}

#logo {
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: $blueprint-container-size * -0.5;
  width: 356px;
  height: 56px;
  a { 
    display: block;
    width: inherit;
    height: inherit;
    background: url(/images/logo.png) no-repeat top left;
    text-indent: -999em;
  }
}

body.admin #logo {
  width: 291px;
  height: 40px;
  top: 8px;
  a { background-image: url(/images/logo_admin.png); }
}

body.admin table td{
	 //background: transparent url(images/bg_black_trans.png) top left;
	background-color:white;
}

.content-feed {
  .header { 
    color: #8a2529; 
    font-size: 15px; 
    font-weight: bold; 
    width: 100%; 
    border-bottom: $global-border-style-1;
    margin-bottom: 10px; 
  }
  ul{
    color: #000;
  }
  .title {
    display: inline;
    a { 
      font-size: 12px; 
      font-weight: bold; 
      text-decoration: none; 
      color: #000; 
    }
  }
  .listing {
    float: left; clear: both; 
    margin-bottom: 1em;
    .image { float: left; margin-right: 5px; }
    .published-date{
      margin-top: 5px;
    }
    .published-date, .updated-date, .author{ font-size: 9px; }
    .summary { 
      font-size: 11px;  
      margin-top: 3px; 
    }
  }
}
	
.footer-module {
  @include column(8, true);

	dd{
		//@include serif;
	}
	
	dd span{
		font-weight:bold;
	}

	.h4, h4 { 
		font-size:$base-font-size;
		text-decoration:none;
		}
		
  //a { text-decoration: underline; }
	
  .footer-menu {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size:$medium-font-size;
	
	li{
			list-style-type:none;
			margin-left: 35px;
			 margin-left: 0;
		}

		a {
	text-decoration:none;
	}
}

  ul {
	li ul{
		margin-left:1.5em;
		font-weight:normal;
		}
    &, li { list-style-type: none; }
    li {
      //margin-left: 27px;
      &:first-child {
        margin-left: 0;
      }
      display: block;
    }
  }
}
	
$footer-border: 1px;
$footer-height: 290px;

@import 'compass/layout/sticky-footer';
@include sticky-footer($footer-height, '#root', '#root-footer', '#footer-wrapper');

#footer-wrapper {
  background: transparent url(images/bg_black_trans.png) top left;
  //border-top: 1px solid #ccc;
  color: $gray;
 border-bottom: 5px solid $theme-alternate;
  a {
    @include link-colors(white, $link_hover_color);
  }
  #bottom-footer {
    &, a { color: #999; }
  }
}



#footer {
	color:white;
  padding-top: 12px;

	dd{
			margin-left: 0;
	}
  
	.renderable {
	  @include column(8, true);
    float: left;
		margin-right:10px;
		
		&:last-child { margin-top:0px;
		}
  }


		span{
			display:block;
			color:#fff;
			font-size:$medium-font-size;
		}
	
	
		.renderable-header, dl dt h4, h4 {
	  @include h2_typography;
	  //@include h2_color;
	  margin: 0 0 1em;
	  padding: 0 0 0.65em;
	  font-weight:normal;
	  border-bottom: 2px solid $theme-primary;

	  a { @include alt-link-colors;}
	  }

		.renderable:first-child + .renderable + .renderable {
			 .renderable-header, dl dt h4, h4 {
		border-bottom: 2px solid $theme-secondary;
		  }
		}

  > div {
    @include inline-block;
  }

  #sub-footer-menu { 
    @include column(16, true);
    color: #f09;
    margin-top: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 2px; 
    li { 
      color: #f09;
      @include inline-block;
      margin-right: 10px; 
      a { 
        text-decoration: none;
        font-weight: bold;
        color: #666; font-size: 12px; 
        &:hover { color: #cfc0c0; } 
      } 
    }
  }

  .footer-bios { 
    @include column(17);
    .feed-listing {  
      float: left; 
      width: 240px; 
      margin-top: 20px;
      .feed-image { float: left; margin-right: 8px; } 
      .feed-summary { font-size: 11px; color: #666; line-height: 1.2;}
      .feed-author { font-weight: bold; color: #8a2529; margin-top: 3px; margin-bottom: 2px; }
      .feed-title {
        a { text-decoration: none; color: #666; font-style: italic; font-size: 10px; }
      }
    }
  }


  .get-in-touch {
    @include column(16, true); 
    padding-top: 15px; 
    dl {
      width: 75px; float: left; 
      dt { width: 35px; height: 35px; }
      dd { 
	font-size: 10px; 
	font-style: italic; 
	color: #666; 
	margin-top: 5px;
	}
    }
    .hello {
      float: left; 
      a {
        float: left;
      } 
      dl {
        margin-left: 10px; width: 135px; 
        dt { font-size: 16px; }
        dd { color: #8a2529; font-weight: bold; }
      }
      .more-info { font-style: italic; font-size: 13px; color: #666; font-weight: normal; width: auto; height: auto;  }  
    }
  }
}



h4.help a {
	color:red;
	text-decoration:underline;
}

div.help {
	color:red;
	font-size:$medium-font-size;
	margin:1.75em 0 .4em 0;
}

.user_new .actions a{
	
		font-size:$small-font-size;
		font-weight:bold;
	
}

html .home #footer .renderable:last-child { margin-top:10px;
	}
