@import "includes/buttons";
@import "includes/colors";

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
&::-moz-focus-inner {
    border: none;
  }
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
a.button,
.toolbar-right a,
.links a,
.add-nested-association,
#add-tag-btn,
#sidebar-actions a,.note-edit a
{
  @include button;
  @include button-color($button-color);
  line-height:1.35em;
}

/* tailored for table cells */
table, .toolbar {
	button,
input[type="reset"],
input[type="button"],
input[type="submit"],
a.button,
.toolbar-right a,
.links a,
.add-nested-association,
#add-tag-btn,
#sidebar-actions a, .contact-links.actions a
{

		@extend button;
		margin:.5em 0;

 }

}
