@import 'includes/colors';

body {
  color: $text-color;
  background-color: $background-color;
}

a { @include base-link-colors; }
a.alt { @include alt-link-colors; }
.breadcrumbs a {
		color:white;
		&:hover{
		color: $theme-tertiary;
		}
	}
		
blockquote      { color: $alt-text-color; }
abbr, acronym   { border-color: $global-border-color-1; }
del             { color: $alt-text-color; }
thead th        { background: $table-header-color; }
caption         { background: $background-color; }

.h1, h1 { @include h1-color; }
.h2, h2 { @include h2-color; }
.h3, h3 { @include h3-color; }
.h4, h4 { @include h4-color; }
.h5, h5 { @include h5-color; }
.h6, h6 { @include h6-color; }

.maroon { @include classed-color($maroon); }
