@import '../../mixins/form';
@import 'blueprint/colors';

$admin_border_style: 1px solid #ddd;

body.admin {

  #system-news, #system-messages {
    margin-bottom: 15px; 
  }

  &.controller-e9-crm-contacts {
    table.records {
      table-layout: fixed;
      td { 
        text-align: left;
   		//commented out by @chris.cr, causing left border to disappear off contracts table, revisit?
        //border-left: 0 none;
        vertical-align: top;
		//changed by @chris.cr, previous setting was not accounting for left and right
        padding: .5em;
        &.links { 
          text-align: right; 
          padding-right: 10px; 
        }
      }
      .record-avatar {
        width: 90px; 
        padding: 12px;
        img { width: 90px; }
      }
    }
    .contact-links { }

    .contact-who-title { 
      font-weight: bold;
    }
    .contact-who-name {
      display: none; 
    }
    .contact-body {
      float: left; 
      a {
        font-size: 16px;
      }
    }
    .contact-sidebar {
      margin-top: 20px;
      float: right; 
      width: 400px;
      border-left: $global-border-style;
      padding-left: 20px;
      .contact-phone-number {
        margin-left: 130px;
      }
      div {
        margin-bottom: 20px;
        div {
          margin-left: 130px;
          margin-bottom: 0;
        }
      }
      label { 
        float: left; 
        width: 130px;
      }

    }
    .tag {
      .ui-button-text {
        padding: 4px 25px 4px 9px;
        font-size: 10px;
      }
    }
    .tag-holder {
      margin-top: 5px;
      margin-bottom: 5px;
      .tags {
        margin-bottom: 2px;
        @include inline-block;
        list-style-type: none; 
        li {
          @include inline-block;
        }
      }
    }

    form {
      label {
        // display: block;
      }
      #contact_search_field {
        @include inline-block;
        width: 260px;
      }
      label:first {
        display: none;
      }
    }

    #contact_search_clear {
      width: 100%; 
      height: 40px;
    }
    #contact_search_form {
      label {
        display: none; 
      }
    }

		.nested-associations {
      .field { display: block; 
								margin-top: 10px;								
			}
    }

    .record-attribute {
      .field, .destroy-nested-association {
        @include inline-block;
        vertical-align: middle;
        margin-top: 0;

      }
    }

  #index-body { 
    @include column(20);
  }

  #index-sidebar {
    @include column(12,last);
    form {
      select { 
        width: 130px; 
        @include inline-block;
      }
      label { 
        display: block; 
      }
    }
    .actions {
      margin-bottom: 10px; 
    }
  }

  fieldset.regions {
    #regions { float: left; }
    #selected-layout {
      float: right;
      margin: 0 1em 1em 0;
      label { 
        display: block; 
        margin-bottom: 0.5em; 
      }
    }
  }

  .toolbar {
    @include clearfix;
    padding: 8px;
    a {
      @include site-button; 
      @include inline-block;
      padding: 4px 4px;
      vertical-align: middle;
      line-height: 19px;
    }
    form { 
      @include inline-form; 
      @include inline-block; 
      input { padding: 4px; }
    }
    label { line-height: inherit; }
    .toolbar-left { float: left; }
    .toolbar-middle, .toolbar-right { float: right; }
    .toolbar-right { margin-left: 1em; }
  }

  .published-status.unpublished { color: $error_color; }
}
