@import 'compass/utilities/general/clearfix';
@import 'includes/global';
@import 'includes/typography';

/** hide focus outlines for graphical links */
*:focus { outline: none; }

.image, .avatar, .thumb
{ 
  img { display: block; } 
}

/** image borders */
img, a img { 
  border: $global-border-style; 
}

a:hover img {
  border: $global-border-style-2;
}

/** images that should have no borders */
.banner
{
  img {
    border: none;
  }
}

.byline, 
.dateline, 
.created-byline, 
.last-reply-byline,
.prefix
{ 
  @include small-font-size;
  font-style: italic;
}

.info {
  p { margin: 0 }
  @include tiny-font-size;
  margin-bottom: $global_spacing_margin;
}

.prefix { 
  font-style: italic;
  .author-name { 
    font-weight: bold; 
    font-style: normal; 
  }
}

