@import 'includes/typography';
@import 'includes/global';

.sans  { @include sans_text; }
.serif { @include serif_text; }
.fixed { @include fixed_width_text; }

.tiny   { font-size: $tiny-font-size !important; }
.small  { font-size: $small-font-size !important; }
.medium { font-size: $base-font-size !important; }
.large  { font-size: $large-font-size !important; }
.huge   { font-size: $huge-font-size !important; }
.giant  { font-size: $giant-font-size !important; }

.bold   { font-weight: bold !important; }
.italic { font-style: italic !important; }

body { 
  font: $base-font;
  line-height: $base-line-height;
}

h1, .h1 { @include h1-typography; }
h2, .h2 { @include h2-typography; }
h3, .h3 { @include h3-typography; }
h4, .h4 { @include h4-typography; }
h5, .h5 { @include h5-typography; }
h6, .h6 { @include h6-typography; }

img             { margin: 0; }
p               { margin: 0 0 $global-spacing-margin; }
p:empty         { margin-bottom: 0; }
blockquote      { margin: $global-spacing-margin; font-style: italic; color:#000; }
strong, dfn     { font-weight: bold; }
em, dfn         { font-style: italic; }
sup, sub        { line-height: 0; }
abbr, acronym   { border-bottom: 1px dotted; }
address         { margin: 0 0 1.5em; font-style: italic; }
pre             { margin: 1.5em 0; white-space: pre; }
pre, code, tt   { @include fixed-width-text; }
ul, ol          { margin: 0 1.2em 1.2em 0; padding-left: 2em; list-style-position: outside; }
li ul, li ol    { margin: 0; }
ul              { list-style-image: url('/images/deco/list_bullet.png'); }
ol              { list-style-type: decimal; }
li              { padding: 5px 0; }
dl              { margin: 0 0 1.5em 0;
dt              { font-weight: bold; } }
dd              { margin-left: 1.5em; }
table           { margin-bottom: 1.4em; width: 100%; }
th              { font-weight: bold; }
th, td, caption { padding: 4px 10px 4px 5px; }
tfoot           { font-style: italic; }

hr { 
  clear: both; 
  width: 100%; 
  margin: 1em 0 0 0; 
  height: 1px; 
  border: none; 
  border-bottom: $global-border-style; 
  &.space {
    border-bottom: none;
    visibility: hidden;
  }
}

/* tweaks for content-body */
.content-body {
  /* 
   * lessened (and no top) margin/padding for h(1|2) 
   **/
  h1, .h1, h2, .h2 { 
    margin: 0 0 0.167em; 
    padding: 0 0 0.167em;
  }

  /*
   * give lists layout to avoid wrapping issues around the
   * avatar/actions block
   */
  ul, ol {
    overflow: hidden;
  }
}

ul.menu, 
.actions ul 
{
  @include blank-list;
}
