body.sidebar-right, body.one-column { 
  #content { 
    @include column(23); 
    @include append(1); 
  }
  
	#right { 
    @include column(9, true);
    border-top:15px solid $theme-alternate;
		margin-top:23px;
		padding-bottom:25px;
		background:transparent url(images/sidebar_bottom.png) bottom left no-repeat;
  }

	#right-wrapper {
		background-color:#000;
		padding-top:5px;
	}
}




/* - - - - - - prev/next ------*/

/* - - - - - -offers ------*/

html body #right .offer {
	
	font-size:$small-font-size;
	
	form label{
		font-weight:normal;
		color:$theme-spot;
	}
	
	.field.checkbox{
		margin: 0px 0px 0px 0px;
	}
	
	.offer-body{
		color:$theme-spot;
	}
	
}
