@import 'includes/colors';

.breadcrumbs { 
  font-size: 11px; 
  margin: 0 0 0 0;
  padding: 12px 0 5px $global-horiz-margin;
	background-color:$theme-primary;
  padding-right: 3px;

  li { 
    display: inline; 
    font-style: italic; 
  }

  .last { 
    color: white;
    font-style: normal;
    font-weight: bold;
  }    
}
