@import 'includes/colors';

.breadcrumbs { 
  font-size: 11px; 
  margin: 0 0 1em;
  padding: 5px 0;

  a { 
    padding-right: 3px; 
  }

  li { 
    display: inline; 
    font-style: italic; 
  }

  .last { 
    color: $maroon;
    font-style: normal;
    font-weight: bold;
  }    
}
