@import 'compass/css3/inline-block';
@import 'compass/utilities/general/clearfix';
@import 'includes/global';
@import 'includes/typography';
@import 'includes/colors';

#comments-container {
  @include clearfix;
  clear: both;
  padding-top: 2em;

  .header {
    @include h2-typography;
    @include h2-color;
    margin-bottom:1em;
  }

  .no-results { margin: 1em $global-horiz-margin 1em $global-horiz-margin; }
  .comment {
	
	
    @include clearfix; 
    position: relative; 
    margin: 0 $global-horiz-margin 18px; 
    .anchor { display: none; }
    .block {
      .comment-body, .comment-prefix { margin-bottom: 1em; } 
    } 
  } 

  .prefix {
    padding-top: 1px;
    margin-bottom: 0.67em;
    font-size: $small-font-size;
  }
}

.comment .action-links {
	color:$theme-alert;
  overflow: hidden; 
  float: left; 
  position: absolute;
  top: 0;
  right: 0;
  font-size: $small-font-size;
	
	a.remove-flag, a.delete-comment {
		@include alt-link-colors;
    font-weight: normal;
    }



	ul { 
    margin: 0;
    padding: 0;
	    li { 		
	    			font-weight: bold;
		      @include inline-block; 
		      margin-left: 0.5em;
		      &:first-child { margin-left: 0; 
	         }
	       }
	     }
}

#comment-form {
  margin: 1em $global-horiz-margin 1em $global-horiz-margin; 
  padding: 15px; 
  background: none;
  textarea {
    margin: 0 0 0.5em;
  }
  .field {
    padding: 0;
  }
  .actions {
    ul { 
      margin-left: 2em;
      padding: 0.67em 0;
      @include inline-block;
      li { 
        float: left;  
        margin-left: 1.5em;
					
        &:first-child {
          margin-left: 0;
        }
      } 
    } 
  }
  legend { 
    padding: 1px 5px; 
  }
  form {
    @include clearfix;
    label { display: none; } 
    .field {
      @include clearfix;
    } 
    textarea {
      font-size: $base-font-size;
    }
  } 
}

// this is for the "honeypot" email, used in a few other places
.comment-email { display: none; }

#comment-form, .comment {
  .avatar { 
    float: left; 
    margin-right: 10px; 
    width: 70px;
  }
}
