@import 'includes/common';
@import 'includes/colors';
@import 'compass/css3/box-shadow';


ul.menu {
  &, ul {
    @include blank-list;
  }
}

#nav {
  ul.menu {
	
    /* top level are inline block because of the way centering is handled */
    > li { 
      @include inline-block; 

      > ul {

      }
    }
		
    ul li { display: block; }

    overflow: visible;
 	//below commented out by @chris.cr, not needed for the new full width look, moved to #nav-wrapper
    //border-bottom: $global-border-style-1;
    text-align: right; 

		li { 
      position: relative;

      $a-width: 160px;
      $a-hpadding: 18px;
      $li-width: $a-width + 2 * $a-hpadding + 1px;
			
			&.current, &.active{
				a, ul li a:hover{
				color:$theme-alternate;//change this of main nav current
				border-top:0;
				border-bottom:0;
					}
					
				ul li a{
						color:$theme-secondary;
					}
					
				ul li.current a{
							color:#fff;
						}
				
				ul li a:hover{
					color:$theme-tertiary;
					}
				}

      /* dropdown positioning behavior */
      &:hover > ul { 
        left: 0;
				top:34px;
	      padding-top:22px; 
        background: transparent url(images/tab_green.png) 10% 0% no-repeat;
 				> li:last-child { 
						background: transparent url(images/nav_shadow.png) left bottom no-repeat;padding-bottom:22px;
					}
					
				> li.last { 
						background: transparent url(images/nav_shadow.png) left bottom no-repeat;padding-bottom:22px;
						
						}
        > li:hover {
          > ul {
            top: 0;
            //left: $li-width;
            left: 187px;
            border-left:1px solid $theme-wildcard;
          }
        }

				&.current a{
					color:#fff;
				}
      }

      ul { 
        display: block; 
        position: absolute; 
        z-index: 999;
        left: -999em; 
        text-align: left; 
        //border-bottom: 1px solid #ddd;
      }

      /* all links */
      a { 
        @include link-colors(#666, $theme-alternate);
        display: block;
        text-decoration: none; 
        padding: 8px 12px 8px 12px; 
        display: block; 
        border-width: 0px 1px 0px 0px;
        font-size: 15px;
				@include serif;
				//text-transform:uppercase;
				/*global font-family */
				border-right:$theme-wildcard 1px solid;
				border-left:white 1px solid;
				
      }

      /* dropdown links */
      ul a { 
				//@include sans;
				font-style:italic;
				/*dropdown font-family overide*/
				
        @include link-colors($theme-secondary, $theme-tertiary);
        background: $theme-alternate;
        width: $a-width; 
        padding: 5px 15px 7px 15px; 
        border-width: 1px 0px 0px 0px;
        //border-right-color: #ddd;
        border-left:0;
        font-size: 13px;   
      }
			
			&:first-child a { 
				border-left:0;
				}
				

      &:last-child a,  &:last-child a:hover{
        border-width:0px 0px 0px 1px;
     	}

			&.last a,  &.last a:hover{
        border-width:0px 0px 0px 1px;
     	}

      /* submenu dropdown links */
			ul .current a:hover ul.submenu, ul ul.submenu{
				padding-top:0px;
				}

    } 
  }
}

/*- - - - - - -  sidebar menu links - - - - - - */

#left, #right {
  .menu {
   border-bottom: none !important;

	.submenu:last-child{
	border-bottom: $global-border-style-1;	
	}
		
	ul:last-child li{
	border-bottom: none;
	}
	
	ul:last-child li:last-child a{
	}
	
    li { 
      a { 
	
	&:first-child {
		padding: 5px 0 6px 0;
	}
        padding: 3px 0; 
        font-size: 15px; 
        color: $theme-secondary; 
        font-weight: bold; 
        text-decoration: none; 
        display: block;
				border-bottom: $global-border-style-1;
        }
      
			&.current ul.submenu li:first-child a{
					border-top:none !important;
					}
					
			&.current a{
				color:#fff;
				}
				
			
			&.current li a {
					color: $theme-secondary;
					font-weight:normal;
					border-bottom:1px solid $gray;
					border-top:1px solid $gray;	
						
					&:last-child {
						border-bottom:none;	
						}
					}
				
					
			li.current ul li a {
			color: $light-gray;
			font-weight:normal;
			border-bottom:1px solid $gray;
			
			&:last-child.last{
				a{
					border-bottom:none !important;
				}
			}
			
			&:hover, &:active{
			color:$theme-tertiary;	
			  }	
			}
					
      ul {
				
        li {
          margin-bottom: 0;
          a {
            color: $theme-secondary; 
            padding: 7px 0 7px 17px; 
            display: block;  
            &:hover { color:$theme-tertiary; }   
          }
          ul {
            li {
              margin-bottom: 0;
              a { 
                color: $light-gray; 
                font-size: 13px; 
                padding: 5px 0 5px 24px; 
                font-weight: normal; 
                border-bottom:1px solid $gray;   
              }
              &:last-child {
              }
            }
          }
        }
      }
    }
  }
}
