@import 'compass/typography/lists/horizontal-list';

$disabled_color: #ddd !default;

.pagination {
	font-style:italic;
	
  @include horizontal-list;
	margin: 0 $global-horiz-margin;
  em { font-style: normal; font-weight: bold; } 
	a{
		font-weight: normal;
		@include alt-utility2-link-colors;
	}
	.selected{
		font-weight:bold;
	}
	.disabled{
		color:$gray;
	}
}
