@import 'includes/colors';
@import 'includes/typography';
@import 'includes/global';

.record-seq {
  .record-seq-dateline, 
  .record-seq-author, 
  .record-seq-summary, 
  .record-seq-title { 
    margin: 0 0; 
  }

	.record-seq-title { 
		font-weight: bold;
		
		a { @include alt-link-colors;
			} 
	}

	.record-seq-author{
		line-height:1em;
		padding-bottom:.5em;
	}
	
  .record-seq-link {
    font-size: $base-font-size;
    margin-bottom: 0.6em;
    a {
      @include base-link-colors;
      text-decoration: underline;
      span { text-decoration: underline; }
      margin-bottom: .7em;
      font-weight: bold;
    }
  }


  .record-seq-prev, .record-seq-next { 
    //float: left;
		display:block;

    &.record-seq-next { 
      //width: 45%; 
      //padding-left: 4%; 
    }

    &.record-seq-prev { 
      //border-right: $global-border-style-1;
      //width: 45%; 
      //padding-right: 3%; 
    }
  }

  .record-seq-dateline, .record-seq-author { 
    font-size: $tiny-font-size;
		color:$light-gray;
  }

  .record-seq-summary { 
    font-size: $small-font-size;
		line-height:1.25em;
  }
}
