@import 'compass/css3/border-radius';
@import 'includes/colors';

#top-nav li.search {
  padding: 0;
  width: 24px;
  float: right;
  a {
    text-align: left;
    @include inline-block;
    margin: 7px 0 0 0;
    background: transparent url(/images/site/searchicon.png) left top no-repeat;
    width: 24px;
    height: 20px;
    text-indent: -999em;
    &:focus {
      outline: none;
    }
    &:hover {
      background-position: left bottom;
    }
  }
  form {
    float: left;
    margin: 7px 0 0 5px;
    fieldset { 
      border: 0 none; 
      margin: 0 0 0 0; 
      padding: 0; 
      input {
        display: inline-block;
        margin: 0 0 0 0; 
      }
      input[type=text] {
        width: 200px;
        padding: 2px 4px;
      }
    }
  }
}
