@import 'compass/utilities/general/clearfix';
@import 'includes/common';
@import 'includes/typography';

ul.social-module {
  @include blank-list;
  padding: 0;
  margin: 0;
  white-space: normal; 

  li { 
    @include clearfix;
    margin: 0 0 $global_spacing_margin;
  }
  a {
    font-weight: normal;
    font-style: italic;
    //font-size: $x-small;
    font-size: x-small;
    @include column(1);
    @include append(1);
    height: 75px;
    margin-top: 6px;
    .text {
      margin-top: 4px;
    }
    &.hello {
      @include column(6, true);
      padding-right: 0;
      .text { width: 130px; }
      span {
        display: block;
        margin-top: 4px;
      }
    }
  }
}

a.social-link {
  @include clearfix;
  @include h4-typography;
  @include alt-link-colors;

  &:hover {
    text-decoration: underline;
    .text { text-decoration: inherit; }
  }

  .img, .text { 
    float: left; 
  }
  .img { margin-right: 8px; }
}

.social-feed-title {
  line-height: 35px;
  a.social-link .text { display: none; } 
}

/* social popup form */
#social-networking-form {
  textarea { height: 140px; }
}

.social-feed {
  @include spaceless;
  color: #000;
  float: left;
  width: 49%;
  border-left: none;
  .social-feed-title {
    padding: 5px 10px;
    border-bottom: 1px solid #cccccc;
    @extend .site-sans;
    font-weight: bold; 
  }
  .pagination { text-align: center; }
  .feed {
    padding: 10px;
    .feed-item {
      display: block;
      position: relative;
      @include clearfix;
      margin: 0.75em 0;
      .feed-time {
        @extend .small-sans;
        font-style: italic; }
      .feed-status {
        @extend .small-sans; }
      .feed-caption {
        @extend .small-sans;
        font-style: italic;
        margin-bottom: 0; }
      .inner {
        width: 355px;
        float: left;
        overflow: hidden; }
      .actions {
        position: absolute;
        top: 0;
        right: 0;
        a {
          @extend .icon-delete; } } }
    .feed-item.fb-post {
      .feed-from {
        margin-right: 5px; }
      .feed-avatar {
        float: left;
        width: 50px;
        height: 100%;
        margin-right: 10px; }
      .feed-from {
        font-weight: bold;
        float: left; }
      .feed-picture {
        img {
          margin-right: 10px; } }
      .feed-body {
        > div {
          padding-bottom: 0.5em; } } }
    .feed-item.tw-status {
      .inner {
        > div {
          padding-bottom: 0.5em; 
          width: 370px;
        } 
        > div.actions {
          width: auto;
        }
      }
      .feed-avatar {
        float: left;
        width: 50px;
        height: 100%;
        margin-right: 10px; }
      .feed-from {
        @include clearfix;
        .feed-screen-name {
          float: left;
          font-weight: bold;
          margin-right: 5px; 
        }
      } 
    } 
  } 
}

html body.admin .admin-sidebar-right{
  .social-feed {
    margin-bottom: 2em;
    table {
      margin-bottom: 0;
    }
  }

  .social-feed .feed .feed-item .inner {
    width: 180px !important;
		float: left;
		overflow: hidden;
		
    &> div {
				padding-bottom: 0.5em;
				width: 180px !important;
				line-height: 1.2em;
			}
  }	
		
  table.plain, table.plain th, table.plain tr, table.plain td {
    border:0;
    border-style:none;
  }
}

html body.controller-admin-social-feeds{
	table td, table td.field{
		font-size:medium;
	}
}
