@import 'compass/utilities/general/clearfix';
@import 'includes/common';
@import 'includes/typography';

ul.social-module {
  @include blank-list;
  padding: 0;
  margin: 0;
  white-space: normal; 

  li { 
    @include clearfix;
    margin: 0 0 $global_spacing_margin;
  }
  a {
    font-weight: normal;
    font-style: italic;
    font-size: $small-font-size;
    @include column(2);
    @include append(1);
    height: 30px;
    margin-top: 6px;
		
		padding-right:0px;
		width: 30px;
    
		.text {
      margin-top: 4px;
    }
    &.hello {
      @include column(6, true);
      padding-right: 0;
      .text { width: 130px; }
      span {
        display: block;
        margin-top: 4px;
      }
    }
  }
}

a.social-link {
  @include clearfix;
  @include h4-typography;
  @include alt-link-colors;
overflow:hidden;
position:relative;
padding-right: 12px;

  &:hover {
    text-decoration: underline;
	}
	
	div.text {
	z-index:100;
	text-decoration: inherit;
				margin-left:-999em;
		}
		
  .img, .text {
		position:absolute; 
		width:35px;
		height:35px; 
    float: left; 
  }

  .img { 
	z-index:200;
	margin-right: 8px;
	}
}

//.social-feed-title {
  ///line-height: 35px;
  //a.social-link .text { display: none; } 
//}

/* social popup form */
#social-networking-form {
  textarea { height: 140px; }
}
