.notes-container {
  margin-bottom: 1em;
  //min-height:250px;


  div, p {
    margin-bottom: 0.33em;
  }

  .note, .note-status {
    border-width: 2px;
    border-style: solid;
  }

  .task, .note  {
		position:relative;
    margin-bottom: 5px;
    padding: 10px;
    //min-height:150px;
  }

	.note-dates{
	//font-size:$x-small;
	font-size:x-small;
	color:black;
	font-weight:bold;
	//padding:.5em .5em .2em;
	z-index:100;
	}
	
	#note-due-date,#note-completed-date{
	text-indent: .5em;
	//padding-top: .35em;
	margin: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	//font-size: .7em;
	font-weight:bold;
	width:86px;
	z-index:100;
	}
	
	#note-completed-date{
		color:#777;
		text-indent:.75em;
		background-color:#eee;
		border:1px gray solid;
	}
	
	.note-dates{
		z-index:100;
		position:absolute;
		top:0px;
		left:30px;
		width:86px;
		//font-size:$x-small;
		display:inline;
		//clear:both;
		//width:27%;
		//float:left;
		span{
			font-weight:bold;
		}
	}


	
	.note-info-wrapper{
	width:78%;
	margin-left:20%;
	margin-right:2%;
	}
	
	.note-details{
	@extend .x-small;
	line-height:1.2em;
	}

 .note-title {
		//position:absolute;
		margin:0px 88px 0px 130px;
		font-size:medium;
		font-weight:bold;
		width:70%;
		display:block;
		min-height:1.25em;
	}
	
	//.note.message .note-title {
		//position:static;
    //display:block;
		//font-size:medium;
		//font-weight:bold;
		//line-height:1.3em;
	//}
	.note-edit{
	position:absolute;
	right:3px;
	top:3px;
	z-index:100;
	margin:0;
	}
	
	.controls-wrapper {
		position:relative;
		min-height:1.15em;
		padding:.25em 0;
	}

  .show-more {
    display: block;
    width: 70px;
    height: 25px;
    margin: 1em auto;
    border: 1px solid blue;
    cursor: pointer;
  }

  .note-status {
    text-indent: -999em;
    display: block;
    height: 22px;
    width: 22px;
    margin:0;
    position:absolute;
    top:0px;
    left:0px;
    cursor: pointer;
    &:hover {
      background-color: white !important;
    }
  }

  .message {
    border-style: dashed;
    border-color: tan;
		
		.note-title{
			color:tan;
			}
			
			.note-dates{
				background-color:tan;
	  }
  }

  .task {
    &.completed {
      border-color: #aaa;
      .note-status {
        background: transparent url(images/checked.png) center center no-repeat;
      }
    }

    .note-status {
       background: transparent url(images/unchecked.png) center center no-repeat;
border:none;
				
				.note-dates{
					border:#aaa 1px solid;
		    }
    }

    &.overdue {
      border-color: red;

			.note-title{
				color:red;
				}
				
				#note-due-date{
					border:red 1px solid;
		  }
    }

    &.today {
      border-color: black;
    .note-title {
			color:black;
			}
			
			.note-dates{
				border:black 1px solid;
	    }
    }

    &.future {
      border-color: gray;

			.note-title{
				color:gray;
				}
				
				.note-dates{
					border:gray 1px solid;
		    }
    }

		&.completed {
      border-color: gray;

			.note-title{
				color:gray;
				}
				
				.note-dates{
					background-color:#ddd;
		    }
    }
  }
}
