@import 'compass/utilities/general/clearfix';
@import 'compass/css3/inline-block';
@import 'includes/form';
@import 'includes/global';

	.toolbar.showcontact .toolbar-middle{
		min-height:94px;
	}

.toolbar-inner{
	background:transparent url(images/toolbar_dividers.png) top center repeat-y;
}	

.toolbar {
  @include clearfix;
  margin-bottom: $global_spacing_margin;
  font-size: $small_font_size;
  padding: 0.5em;
  border: $global-border-style-3;
  background: #eee;
	
	.input, input[type="email"], input[type="text"], input[type="password"], input[type="file"], textarea, select {
		display: inline;
		//float:right;
	}
	
	button,
	input[type="reset"],
	input[type="button"],
	input[type="submit"],
	input[type="file"] > input[type="button"],
	a.button,
	.toolbar-right a,
	td.links a,
	.add-nested-association,
	#add-tag-btn,
	#sidebar-actions a {
	margin:0;
	}
	
	.contact-photo {
		width:110px;
		float:left;
		display:inline;
	}
	
	.contact-who, .contact-company, #contact-related-info {
		width:65%;
		//float:right;
		display:inline-block;
		padding-bottom:.5em;
		
		.contact-subheader{
			position:relative;
			top:8px;
			height:1em;
			font-weight:bold;
		}
	}

	label {
    margin: 0;
    border: 0;
    display: block;
		margin-bottom:3px;
  }

  label, input[type=submit], button, .ui-button-text { 
    vertical-align: middle;
  }

  .ui-button {
    vertical-align: middle;
  }

  .ui-button-text { 
    height: 18px;
  }

  > div {
    @include clearfix;
    line-height: normal;
  }

	> div.actions {
	float:right;
	//changed by @chris.cr addressing button inside divs in toolbar area looking like huge
    //change brings it in line with form input buttons
  }

	.toolbar-right, .toolbar-right fieldset{
		position:relative;
		a, input {
			margin-left:0;
		}
	}

	> #contact_tag_list input {
	display:inline;
	//changed by @chris.cr addressing button inside divs in toolbar area looking like huge
  //change brings it in line with form input buttons
	}

	> div.actions a{
	//changed by @chris.cr addressing button inside divs in toolbar area looking like huge
    line-height:1.2;//change brings it in line with form input buttons
  }

  .toolbar-left, .toolbar-right { 
	margin-top:5px;
	  @include toolbar-form;
	}
  
.toolbar-left > #user_search_form {
	margin:.5em;
}

	.toolbar-left { 

    float: left; 
    label,select { 
      @include inline-block; 
      vertical-align: middle;  
    }

    input#search{
			float:left;
		}
  }
	
	.toolbar-middle{
		margin-left:20px;
		margin-top:5px;
		float: left; 
		width:310px;
		@extend toolbar-form;
		margin-right:0px;

		//border-left:dotted 2px #ccc;
		//border-right:dotted 2px #ccc;
		
		#contact_tag_select li{
			display:inline-block;
			margin: 5px 1px 2px 0;
		}
	}
	
	.toolbar-middle input#contact_search_clear {
	position:relative;
	left:168px;
	float: none;
	}
	
	.toolbar-middle div{
		width:300px;
	}
		
	fieldset { 
  //min-height:92px;
	border-style:none;
	margin:0 0 .5em 0;
	padding:0;
	}
	
	.toolbar-right { 
	margin-left:6px;
	float:right;
	
	form{
		margin-top:6px;
	}
	
	input{
		margin-left:4px;
	}
		select{
			width:260px;
			margin-right:0;
			float:left;
		}
		
		//legend{
			//padding-left:2px;
		//}
	}

//end of toolbar mega rule ////

  input, select {
			vertical-align: middle;
		}
	}

	.controller-e9-crm-deals, .controller-e9-crm-campaigns{ 
		
		.toolbar-middle select{
		width:300px;
		}
	}
	
//.controller-e9-crm-campaigns .toolbar-left { 
  //@include toolbar-form(450px);
//}

//.controller-e9-crm-campaigns .toolbar-left { 
	
	//input, select{
	//	float:left;
	//	margin-right:6px;
	//	}
  
//width:600px;
//}

.toolbar-header{
margin-bottom:8px;	
}

.toolbar-actions{
	padding-bottom:10px;
	//background:transparent url(images/horiz-dotted.png) bottom left repeat-x;
}



/*- - - - - - - - - - view contacts edits- - - - - - - - - - - */

.toolbar.showdeal, .toolbar.showcontact {
	.toolbar-left, .toolbar-right{
		width:46%;
	}
	
	.toolbar-middle{
	display:none;	
	}
}

.toolbar legend {
	color:#999;
	font-weight:bold;
  padding: .25em 0;
  //background-color: #fff;
	//margin:20px 0 0 0;
}

.toolbar-left #contact-related-info {
	
	fieldset:first-child legend{
	display:none;
	}
	
	label{
		display:block;
		color:#999;
		font-weight:bold;
		padding: .25em 0 0 0;
		margin-bottom:0;
	}
}

/*- - - - - - - - - - view contacts SIDEBAR edits- - - - - - - - - - - */

.admin-sidebar-right {
	
	legend {
    color:#999;
    font-weight:bold;
	}
	
	div, a {
    font-size:11px;
	}

	fieldset {
    padding-bottom:10px;
	}
	
	table th {
    padding:0;
    line-height:2em;
    background-color:#ddd;
	}
}

.admin .admin-sidebar-right {
	
	table th, table td {
    border: 1px solid #ccc;
  }

  table th {
    border-bottom:0;
  }

  .contact-actions {
    float:right;
  }
}
