@import 'compass/utilities/general/clearfix';
@import 'compass/css3/inline-block';
@import 'includes/css3';
@import 'includes/form';
@import 'includes/global';

.toolbar.showcontact .toolbar-middle {
  min-height:94px;
}
	
.toolbar {
  @include clearfix;
  margin-bottom: $global_spacing_margin;
  padding: 0.5em;
  border: $global-border-style-1;
  background: #eee;

	.field {
		margin: 0 0 0 0;
	}
	
	p,.contact-tags a, .contact-who{
		//font-size: $small;
		font-size: small;
	}

	fieldset { 
    //min-height:92px;
    border-style:none;
    margin:0 0 .5em 0;
    padding:0;
    background-color:none !important;
	}

	/*trying target every label that's follows an input*/
	input + label {
		display:inline-block !important;
		vertical-align:middle;
	}
	
	/*trying target every label that's acting as a header*/
	div.field:first-child {
		display: block !important;
		vertical-align: middle;
	}

	.toolbar-inner {
		background: transparent url(images/toolbar_dividers.png) top center repeat-y;
	}
	
	.input, input[type="email"], input[type="text"], input[type="password"], input[type="file"], textarea, select {
		display: inline;
		//float: right;
	}
	
	//.contact-photo {
		//width: 30%;
		//float: left;
		//display: inline;
	//}
	
	.contact-who-company {
		display:block;
	}
	
	.contact-who{
		//width: 65%;
		//float: right;
		display: inline;
		
		.contact-subheader{
			position: relative;
			top: 8px;
			height: 1em;
			font-weight: bold;
		}
	}
	
  label {
    margin: 0;
    border: 0;
    display: block;
		//margin-bottom: 3px;
  }

  label, input[type=submit], button, .ui-button-text { 
    vertical-align: middle;
  }

  .ui-button {
    vertical-align: middle;
  }

  .ui-button-text { 
    height: 18px;
  }

  > div {
    @include clearfix;
    line-height: normal;
  }

	> div.actions {
    float:right;
    //changed by @chris.cr addressing button inside divs in toolbar area looking like huge
    //change brings it in line with form input buttons
  }

	.toolbar-right, .toolbar-right fieldset{
		position:relative;
		a { margin-left: 0; }
	}
	
	> #contact_tag_list input {
    display:inline;
    //changed by @chris.cr addressing button inside divs in toolbar area looking like huge
    //change brings it in line with form input buttons
	}

	> div.actions a{
    //changed by @chris.cr addressing button inside divs in toolbar area looking like huge
    line-height:1.2;//change brings it in line with form input buttons
  }

  .toolbar-left, .toolbar-middle, .toolbar-right { 
    margin-top: 5px;
	  position: relative;
    width: 315px;
	}
  
	.toolbar-left { 
		
		.contact-photo,.deal-photo{
		float: left;
		margin-right: 12px;
		}

		.deal-info{
		  p{
		  font-size:.8em;
		  }
		}
		
		
    float: left; 
    label, select { 
      @include inline-block; 
      vertical-align: middle;  
    }

    #user_search_form {
      float: left; 

      #search { 
        float: left;
        margin-left: 8px;  
      }

      input[type="text"] {
        margin-top: 0px;
      }
      
      input[type="submit"] {
        margin-top: 0px;
        float: right;
      }
    }
  }
	
	.toolbar-middle {
		margin-left: 20px;
		margin-top: 5px;
		float: left; 
		width: 310px;
		margin-right: 0px;
		//border-left:dotted 2px #ccc;
		//border-right:dotted 2px #ccc;

		.field.clear {
			position: absolute;
			right: 0px;
			top: 5px;
			width: 4em;
			font-size:75%;
		}

    div {
      width: 300px;
    }
		
		#contact_tag_select li {
			display: inline-block;
			margin: 5px 1px 2px 0;
		}

    input#contact_search_clear {
      position: relative;
      left: 168px;
      float: none;
    }

		input, select { 
      width:294px;
    }
	}
	
	.toolbar-right { 
    margin-left: 6px;
    float: right;
    


		.contact-tags label{
			display:inline;
		}
		
    input, select { 
      vertical-align: middle; 
    }

    input[type="text"]{
      float: right;
      width: $sidebar-global-select-width;
      margin-right: 0;
    }

		select {
			width: 220px;
			margin-right: 3px;
			float: none;
			display: inline-block;
		}
		
		legend {
			padding-left:2px;
		}
		
		.actions{
	  font-size:medium;
	  }
	}
} //end of toolbar mega rule ////

.controller-e9-crm-deals, .controller-e9-crm-campaigns { 
  .toolbar-middle select {
    width:294px;
    float:none;
  }
}

.controller-users .toolbar {
	@include linear-gradient(lighten($theme-primary, 23%), lighten($theme-secondary, 11%));
	background-color:$theme-primary;
}


.toolbar-header, .toolbar legend {
	color: $theme-primary;
	font-weight: bold;
	//font-size: $medium;
	font-size: medium;
	margin: .5em 0;
}

.toolbar .toolbar-right .toolbar-forms label {
  //display: inline-block;
  vertical-align: middle;
}

/*- - - - - - - - - - view contacts edits- - - - - - - - - - - */

.toolbar.showdeal, .toolbar.showcontact {
	.toolbar-left, .toolbar-right {
		width: 46%;
	}
	
	.toolbar-middle {
    display: none;	
	}
}

.toolbar legend {
	color: #999;
	font-weight: bold;
  padding: .25em 0;
  //background-color:  #fff;
	//margin: 20px 0 0 0;
}

.toolbar-left #contact-related-info {
	
  fieldset:first-child legend {
    display:none;
	}
	
	label {
		display: block;
		color: #999;
		font-weight: bold;
		padding:  .25em 0 0 0;
		margin-bottom: 0;
	}
}

/*- - - - - - - - - - view contacts SIDEBAR edits- - - - - - - - - - - */

.admin-sidebar-right {
	
	h2 {
		font-size: 14px;
	}

  h2 .actions, .contact-actions {
    float: right;
  }
	
	legend {
    color: #999;
    font-weight: bold;
	}
	
	div, a {
    font-size: 11px;
	}

	fieldset {
    padding-bottom: 10px;
	}
	
	table th {
    padding: 0;
    line-height: 2em;
    background-color: #ddd;
    border-bottom: 0;
	}
	
	table th, table td {
    border:  1px solid #ccc;
  }
}


/*- - - - column changes for various admin toolbars - - - - -*/
body.admin {
  @mixin toolbar-two-col($hide: 'middle') {
    .toolbar-inner { 
      background: transparent url(images/toolbar_divider.png) 66% 0% repeat-y; 
    }
    .toolbar-left { 
      width: 64%;
      padding-right: 18px; 
    }
    .toolbar-middle, .toolbar-right {
      width: 32%;
      margin-left: 18px;
    }
    // see how the variable is used to determine which section to hide?
    .toolbar-#{$hide} { display: none; }
  }

  @mixin toolbar-one-col {
    .toolbar-inner { 
      background: transparent none !important; 
    }
    .toolbar-left { 
      width: 96%; 
    }
    .toolbar-middle, .toolbar-right { 
      display: none; 
    }
  }

  @mixin toolbar-two-col-special {
    .toolbar-inner { 
      background: transparent url(images/toolbar_divider.png) 30% 0% repeat-y; 
    }
    
    .toolbar-left { 
      width:25%; 
    }

    .toolbar-middle { 
      display: none; 
    }

    .toolbar-right { 
      width:69%;; 
    }
  }

  /*- - - - 2 columns - - - - -*/
  &.controller-admin-social-feeds,
  &.controller-e9-crm-offers,
  &.controller-admin-slideshows,
  &.controller-admin-slides,
  &.controller-admin-feed-widgets,
  &.controller-admin-widget-templates,
  &.controller-e9-polls-polls,
  &.controller-admin-snippets,
  &.controller-admin-top-widgets,
  &.controller-admin-blogs,
  &.controller-admin-mailing-lists,
  &.controller-admin-user-pages, 
  &.controller-admin-banners,
  &.controller-admin-banners.template-manage,
  &.controller-admin-forums,
  &.controller-admin-events.template-index,
  &.controller-admin-slideshow-widgets,
  &.controller-admin-mailing-lists,
  &.controller-e9-crm-dated-costs,
  &.controller-admin-event-registrations, 
  &.controller-e9-crm-contacts.template-edit,
  &.controller-e9-crm-deals.template-edit,
  &.controller-e9-crm-companies.template-index {
    @include toolbar-two-col;
  }
	
	&.controller-admin-email-reports {
    @include toolbar-two-col($hide: 'right');
	}
	
	&.controller-e9-crm-deals.template-show, &.controller-e9-crm-contacts.template-show {
		@include toolbar-two-col-special;
	}	
	
  /*- - - - 1 columns - - - - -*/
  &.controller-admin-comments, 
  &.controller-admin-searches, 
  &.controller-admin-email-deliveries, 
  &.controller-admin-system-emails,
  &.controller-admin-layouts,
  &.controller-admin-system-pages {
    @include toolbar-one-col;
	}
}