.list-container { margin-bottom: 2.25em; }
.show-more { 
	clear: both; 
	text-align: center; 
	color: #aa7175;
	font-weight: bold;
	a{
		color: #aa7175;
	}
}
.content-inner{
	.profile-favorites, .profile-comments{
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		.header{
			font-weight: bold;
		}
	}
}
.list {
  .listing {
    clear: both; 
    .header { 
			clear: none; 
		}
    .summary { margin-top: 5px; }
    .title { 
      margin-bottom: 5px; 
      a {  
        &, &:link { color: #000; text-decoration: none; font-weight: bold; }
        &:hover { color: #aa7175; }
      }

    }
  }
}
