@import "compass/utilities/general/min";

$error_color: #8a1f11 !default;
$error_font_size: 1.5em !default;
$flash_alert_bgcolor: #fbe3e4 !default;
$flash_alert_border: 1px solid #fbc2c4 !default;
$flash_alert_color: #8a1f11 !default;
$flash_notice_bgcolor: #ccc !default;
$flash_notice_border: 1px solid #666 !default;
$flash_notice_color: #666 !default;

.field_with_errors {
  textarea,
  input.text, 
  input.title, 
  input[type=email], 
  input[type=text], 
  input[type=file],
  input[type=password] 
  {
    border-color: #aa4444;
  }
}

#errorExplanation, #error_explanation, .error {
  ul, li { list-style-type: none; list-style-image: none; }
  font-size: $error_font_size;
  color: $error_color;
  h1, h2, h3 {
    border: none;
    color: $error_color;
    margin: 0 0 0.25em 0;
    padding: 0; 
  }
}

#errorExplanation, #error_explanation {
  padding: 1em 0;
}

.flash-messages {
  font-weight: bold;
  text-align: center;
	margin-bottom: 30px;
  
  > div {
    margin: 0;
    padding: 20px;
    width: inherit;
    background: url(/images/buttons/messaging_close.png) no-repeat right center;
    cursor: pointer; 
    &.alert {
      background-color: $flash_alert_bgcolor;
      border: $flash_alert_border;
      color: $flash_alert_color;
    }
    &.notice {
      background-color: $flash_notice_bgcolor;
      border: $flash_notice_border;
      color: $flash_notice_color;
    }
  } 
}
