@import 'includes/global';

body.controller-admin-home {
  #system-news, #system-messages {
    margin-bottom: 2em;
  }
  .header { 
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: $global_border_style_1; 
    font-weight: bold; 
  }
}
