@import 'compass/typography/links/link-colors';

/**
* Theme-------------------------------------------
*/

$theme-primary:                 #1890ba; // medium blue
$theme-secondary:               #e9d76d; // yellow
$theme-alternate:               #4f8b5a; // Green
$theme-tertiary:                #fdf6ce; // Creme
$theme-accent:                  #000; // black
$theme-spot:                    #cccccc; // gray
$theme-alert:                   #e0182f; // red
$theme-wildcard:                #666666; // Turquoise

/**
 * Base--------------------------------------------
 */
$medium-green:                   #939a75;
$off-white:                      #edeae5;
$maroon:                         #8A2529;
$light-maroon:                   #AA7175;
$gray:                           #666;
$light-gray:                     #ccc;
$off-gray:                       #CFC0C0;
$utility-color-1:                #bec4a4; //utility green

/*Typography colors*/
$text-color:                     white;
$alt-text-color:                 $gray;
$footer-text-color:              $theme-primary !default;

/*CSS Color regions, Functions & Snippets*/
$background-color:               $theme-accent !default;
$error-color:                    $theme-alert !default;
$table-header-color:        		 $theme-tertiary !default;
$highlight-color:                $theme-spot !default;
$global-border-color-1:          $theme-secondary !default;
$global-border-color-2:          $utility-color-1 !default;
$global-border-color-3:          $theme-primary !default;
$global-border-color-4:          $utility-color-1 !default;

@mixin base-color { color: $text-color; }
@mixin alt-color  { color: $alt-text-color; }


/**
 * Headers
 */

$h1-color:                        $theme-primary !default;
$h2-color:                        $theme-secondary !default;
$h3-color:                        $theme-tertiary !default;
$h4-color:                        white !default;
$h5-color:   											$gray !default;
$h6-color: 												$maroon !default;

@mixin h1-color { color: $h1-color; }
@mixin h2-color { color: $h2-color; }
@mixin h3-color { color: $h3-color; }
@mixin h4-color { color: $h4-color; }
@mixin h5-color { color: $h5-color; }
@mixin h6-color { color: $h6-color; }

/**
 * Links
 */

$link-color:                       $theme-secondary !default;
$link-hover-color:                 $theme-tertiary !default;
$link-active-color:                $theme-secondary !default;
$link-visited-color:               $link-color !default;
$link-focus-color:                 $link-color !default;
$link-current-color:               $theme-alternate !default;

$alt-link-color:                   $theme-primary !default;
$alt-link-hover-color:             $theme-tertiary !default;

@mixin base-link-colors { @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color); }
@mixin alt-link-colors { @include link-colors($alt-link-color, $alt-link-hover-color); }
@mixin alt-utility-link-colors { @include link-colors($theme-tertiary, $theme-primary); }

@mixin alt-utility2-link-colors { @include link-colors($theme-spot, $theme-tertiary,$theme-tertiary,$theme-spot,$gray); }

/**
 * Forms
 */

$field-background-color:            $theme-tertiary !default;
$field-focus-background-color:               #fff !default;
$field-border-color:               $theme-primary !default;
$field-focus-border-color:                   #aaa !default;
$field-with-errors-background:               #ffc !default;
$field-with-errors-focus-background:         #ffd !default;
$field-color:                         $text-color !default;
$label-color:                         $theme-primary !default;
$legend-color:                       $label-color !default;
$field-with-errors-label-color:      $error-color !default;

/**
 * Misc
 */

$button-color:                      $theme-primary !default;

@mixin classed-color($color, $hover-color: false) {
  &, a { color: $color; }
  a { text-decoration: underline; }
  @if $hover-color {
    a:hover { color: $hover-color; }
  }
}
