@import 'includes/colors';

$avatar_width:                                      98px;
$avatar_height:                                     98px;

$global-border-style-1: 1px solid $global-border-color-1;
$global-border-style-2: 1px solid $global-border-color-2;
$global-border-style-3: 1px solid $global-border-color-3;

$global-spacing-margin:                           0.75em;

$layout_preview_width:                             200px;
$layout_preview_height:                            162px;

$sidebar-global-select-width:                      184px;
