@import "compass/css3/border-radius";
@import "includes/global";
@import "includes/colors";
@import "includes/typography";

$table-border-style:          $global-border-style-1 !default;
$table-header-image:     none !default;
$table-ordered-column-image:  '/images/buttons/arrow_admin.png' !default;

@mixin table {
  border-collapse: separate;
  margin-bottom: 1.5em; 
  width: 100%;

  tbody tr { line-height: 1.33; }
  caption { background-color: $background-color; }
  th, td, caption { padding: 4px 10px 4px 5px; }
  tfoot { font-style: italic; }

  &.plain {
    th, td {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  
  th {
	
    background: $table-header-color $table-header-image;
    text-align: center;
    text-align: center; 
    line-height: 2em;
    font-weight: bold; 

    .ordered-column {
      white-space: nowrap;

      a { text-decoration: none; }
			a span.text {
			text-decoration: underline;
			}
      a:hover span.text {
        text-decoration: underline;
      }
    } 
  } 

  th, td {
    border: $global-border-style-1;

    &, &.ui-widget-content, &.ui-state-default {
      border-left-width: 0;
      &:first-child { border-left-width: 1px; }
    }

    &.ui-widget-content {
      border-top-width: 0;
    }
  }

  td {
    font-size: $small-font-size;
    font-weight: normal !important; 
    border-top-width: 0px; 
    padding: 0.5em;

    .viewable-status {
      margin-left: 5px;
    }

    &.links { 
      text-decoration: none; 
      //text-transform: uppercase; 
      white-space: nowrap;

      a {
        font-size: $tiny-font-size;
      }
    }

    &.link {
      a, a:link, a:visited {
        text-decoration: underline;
      }
    }

    &.checkbox {
      text-align: center;
    }

    &.links, &.num {
      text-align: right;
    }
  }
}

#balance-table tfoot .cost{
		text-align:right;
	}

.admin table{
	
	th, td {
    border: $global-border-style-3;
		 &, &.ui-widget-content, &.ui-state-default {
	      border-left-width: 0;
	      &:first-child { border-left-width: 1px; }
	    }

	    &,&.ui-widget-content, &.ui-state-default {
	      border-top-width: 0;
	    }
    }
		th {
			border-top-width: 1px;//adds the border back on top of table
		}
}


.admin td.contact-deal-value {
	text-align:right;
}
