@import 'includes/global';
@import 'includes/common';

$tiny-font-size:  10px !default;
$small-font-size: 11px !default;
$medium-font-size: 12px !default;
$base-font-size:  14px !default;
$large-font-size: 16px !default;
$huge-font-size:  24px !default;
$giant-font-size: 32px !default;

$sans-font-family:        Arial, Verdana, sans-serif !default;
$serif-font-family:       "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$fixed-width-font-family: "andale mono", "lucida console", monospace !default;

$base-font: $base-font-size $serif-font-family;
$base-line-height: 1.35em !default;

@mixin sans        { font-family: $sans-font-family; }
@mixin serif       { font-family: $serif-font-family; }
@mixin fixed-width { font: 1em $fixed-width-font-family; line-height: 1.5; }

@mixin tiny-font-size   { font-size: $tiny-font-size; }
@mixin small-font-size  { font-size: $small-font-size; }
@mixin base-font-size   { font-size: $base-font-size; }
@mixin large-font-size  { font-size: $large-font-size; }
@mixin huge-font-size   { font-size: $huge-font-size; }
@mixin giant-font-size  { font-size: $giant-font-size; }

/*
 * Headers
 */

@mixin h_typography {
  font-weight: bold;
  line-height: 1.1;
  a { text-decoration: none }
}

@mixin h1_typography {
  @include h_typography;
  font-size: 18px; 
  margin: 0 0 0.37em; 
  padding: 0 0 0.33em; 
}

@mixin h2_typography {
  @include h_typography;
  font-size: $large-font-size;
  margin: 0 0 0.37em; 
  padding: 0 0 0.33em; 
  border-bottom: $global-border-style-2;
}

@mixin h3_typography {
  @include h_typography;
  font-size: $large-font-size;
  margin: 0 0 0.25em; 
  padding: 0 0 0.25em; 
}

@mixin h4_typography {
  @include h_typography;
  //font-size: $base-font-size;
	font-size:12px;
  margin: 0 0 0.25em; 
  padding: 0 0 0.25em; 
}

@mixin h5_typography {
  @include h_typography;
  font-size: $base-font-size;
  margin: 0 0 0.125em; 
  padding: 0 0 0.125em; 
}

@mixin h6_typography {
  @include h_typography;
  font-size: $base-font-size;
}
