!!! XML
!!!
%html
  %body{ :style =>"margin: 0px; padding: 0px; font-size: 13px; background-color: #8A132C;" }
    %table{:width => "640", :bgcolor =>"#ffffff", :style => "background-color: #ffffff; margin: 0 auto", :cellspacing => "0", :cellpadding => "0"}
      %tr
        %th{:height => "60"} EMAIL TEMPLATE
      %tr
        %td{:style => "padding: 30px;"}
          = @html_body
